.carousel {
    width: 80%; /* Ajusta el ancho según sea necesario */
    max-width: 1200px; /* Opcional: un ancho máximo para el carrusel */
    margin-top: px;/* Centra horizontalmente */
    margin-left: 300px;
    height: 60vh; /* Ajusta la altura como un porcentaje de la ventana del navegador */
    overflow: hidden; /* Asegura que el contenido no sobresalga del contenedor */
  }

  .container {
    display: grid;
    place-items: center; /* Centra el contenido tanto horizontal como verticalmente */
    min-height: 100vh; /* Ajusta la altura mínima del contenedor padre */ 
  }
  
  .carousel {
    width: 80%; /* Ajusta el ancho según sea necesario */
    max-width: 1200px; /* Opcional: un ancho máximo para el carrusel */
    height: 60vh; /* Ajusta la altura como un porcentaje de la ventana del navegador */
    overflow: hidden; /* Asegura que el contenido no sobresalga del contenedor */
  }
  .img-destacadas{
    width: 950px;
  }
  
  
  
  
  
  