.container {
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
}

.container {
  margin-top: 50px;
}

.cards {
  margin: 10px; /* Añade espacio entre las tarjetas */
}

.card-img-top {
  height: 200px; /* Ajusta la altura de las imágenes */
  object-fit: cover; /* Asegura que las imágenes se recorten correctamente */
}